/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body {
    background-color: #b2bec3;
}



.nadpis {
    margin:0;
    padding:0;
    font-size: 36px;
    font-weight: bold;
    color:#d63031;
}

.odstavec1,
.odstavec2 {
    font-size: 18px;
}

.odstavec2 {
    margin-bottom: 30px;
}

.box {
    position: relative;
    top: 150px;
    margin: 0 auto 0 auto;
    padding: 30px;
    width: 550px;
    background-color: white;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    box-shadow: 5px 5px 10px gray;
}

.fotka {
    border-radius: 50%;
    border: 3px solid white;
    width: 150px;
    position: absolute;
    right: -75px;
    top: -75px;
}

a {
    display: block;
    width:auto;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.twitter {
    background-color:  #1da1f2;
}

.fcb {
    background-color:  #3b5998;
    margin-top: 5px;
}

.twitter:hover,
.twitter:active {
    background-color: #0b7bc1;    
}

.fcb:hover,
.fcb:active {
    background-color: #2b406e;
}

.odstavec1,
.odstavec2 {
    text-align: justify;
}